---

---

<h2 class="uk-h2 text-zinc-100">Education</h2>

<div class="space-y-4">
	<div class="flex items-center justify-between">
		<p class="uk-h4 text-zinc-100">University of California, Berkeley</p>
		<span class="text-xs">2010 - 2014</span>
	</div>
	<p class="border-l border-zinc-400 pl-2">Bachelor of Technology in Computer Science</p>
</div>

<div class="space-y-4">
	<div class="flex items-center justify-between">
		<p class="uk-h4 text-zinc-100">California College of the Arts (CCA)</p>
		<span class="text-xs">2015 - 2017 </span>
	</div>
	<p class="border-l border-zinc-400 pl-2">Master of Fine Arts in Interactive Design</p>
</div>
