---

---

<h2 class="uk-h2 text-zinc-100">Work Experience</h2>

<div class="space-y-4">
	<h3 class="uk-h3 mb-4 flex items-baseline gap-3">
		Tech Innovators, Inc. <span
			class="rounded-full border border-zinc-400 bg-zinc-800/80 p-1 text-xs">ON-SITE</span
		>
	</h3>
	<p>UI/UX Designer</p>
	<p class="border-l border-zinc-400 pl-2">
		Spearheaded the design process for multiple web applications, ensuring seamless user
		experiences. Collaborated with cross-functional teams to translate business requirements into
		visually stunning and functional interfaces. Conducted user testing and gathered feedback for
		continuous improvement.
	</p>
</div>

<div class="space-y-4">
	<h3 class="uk-h3 mb-4 flex items-baseline gap-3">
		CodeCrafters Agency <span class="rounded-full border border-zinc-400 bg-zinc-800/80 p-1 text-xs"
			>REMOTE</span
		>
	</h3>
	<p>Front End Developer</p>
	<p class="border-l border-zinc-400 pl-2">
		Played a key role in coding and optimizing websites for a diverse client base. Utilized
		JavaScript frameworks to enhance interactivity and responsiveness.
	</p>
</div>

<div class="space-y-4">
	<h3 class="uk-h3 mb-4 flex items-baseline gap-3">
		Digital Dynamics
		<span class="rounded-full border border-zinc-400 bg-zinc-800/80 p-1 text-xs">ON-SITE</span>
	</h3>
	<p>Web Design Specialist</p>
	<p class="border-l border-zinc-400 pl-2">
		Led the conceptualization and execution of visually striking websites. Collaborated closely with
		clients to understand their brand identity and goals, translating them into compelling digital
		experiences. Utilized HTML, CSS, and JavaScript to implement responsive and user-friendly
		designs.
	</p>
</div>
