---
import { Image } from 'astro:assets'
import profile from '../assets/profile.webp'
---

<div class="grid gap-6 md:grid-cols-[1fr_auto]">
	<div class="space-y-6">
		<h1 class="uk-h1 text-zinc-100">Christopher Anderson</h1>
		<div>
			<p class="">Designer & Front-end Developer</p>

			<p class="mt-2 flex items-center gap-1">
				<span uk-icon="icon: location; ratio: 1"></span> San Francisco, US
			</p>
		</div>

		<a
			href="#"
			class="flex w-fit items-center gap-2 rounded-md border border-zinc-600 bg-zinc-800/80 px-4 py-2 hover:bg-zinc-800"
		>
			<span uk-icon="icon: mail; ratio: 1" class="text-zinc-100"></span>
			Get in Touch</a
		>
	</div>

	<Image
		src={profile}
		alt="Profile"
		width={200}
		height={200}
		loading={'eager'}
		class={'rounded-md'}
	/>
</div>
