---

---

<h2 class="uk-h2 text-zinc-100">Skills</h2>

<ul class="flex flex-wrap gap-4">
	<li class="rounded-md bg-zinc-600/70 p-1 text-zinc-100">HTML</li>
	<li class="rounded-md bg-zinc-600/70 p-1 text-zinc-100">CSS</li>
	<li class="rounded-md bg-zinc-600/70 p-1 text-zinc-100">JavaScript</li>
	<li class="rounded-md bg-zinc-600/70 p-1 text-zinc-100">React</li>
	<li class="rounded-md bg-zinc-600/70 p-1 text-zinc-100">Vue</li>
	<li class="rounded-md bg-zinc-600/70 p-1 text-zinc-100">Tailwind CSS</li>
</ul>
